body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:1086px;
}
#u240 {
  position:absolute;
  left:105px;
  top:82px;
  width:326px;
  height:1086px;
}
#u241 {
  position:absolute;
  left:2px;
  top:535px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:433px;
}
#u242 {
  position:absolute;
  left:1085px;
  top:70px;
  width:244px;
  height:433px;
}
#u243 {
  position:absolute;
  left:2px;
  top:208px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u244 {
  position:absolute;
  left:421px;
  top:103px;
  width:30px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u245 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u246 {
  position:absolute;
  left:517px;
  top:55px;
  width:217px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u248_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:70px;
}
#u248 {
  position:absolute;
  left:1067px;
  top:55px;
  width:5px;
  height:65px;
}
#u249 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:282px;
  height:10px;
}
#u250 {
  position:absolute;
  left:1070px;
  top:55px;
  width:277px;
  height:5px;
}
#u251 {
  position:absolute;
  left:2px;
  top:-6px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:70px;
}
#u252 {
  position:absolute;
  left:1344px;
  top:55px;
  width:5px;
  height:65px;
}
#u253 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:282px;
  height:10px;
}
#u254 {
  position:absolute;
  left:1070px;
  top:115px;
  width:277px;
  height:5px;
}
#u255 {
  position:absolute;
  left:2px;
  top:-6px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:602px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256 {
  position:absolute;
  left:521px;
  top:115px;
  width:476px;
  height:602px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u258 {
  position:absolute;
  left:421px;
  top:278px;
  width:30px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u259 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u260 {
  position:absolute;
  left:390px;
  top:631px;
  width:30px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u261 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u262 {
  position:absolute;
  left:409px;
  top:959px;
  width:30px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u263 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u264 {
  position:absolute;
  left:431px;
  top:1047px;
  width:30px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u265 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u266 {
  position:absolute;
  left:67px;
  top:1046px;
  width:414px;
  height:1px;
}
#u267 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:70px;
}
#u268 {
  position:absolute;
  left:1085px;
  top:570px;
  width:238px;
  height:70px;
}
#u269 {
  position:absolute;
  left:2px;
  top:27px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:72px;
  height:25px;
}
#u270 {
  position:absolute;
  left:1015px;
  top:594px;
  width:60px;
  height:5px;
}
#u271 {
  position:absolute;
  left:2px;
  top:-6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:72px;
  height:25px;
}
#u272 {
  position:absolute;
  left:997px;
  top:347px;
  width:60px;
  height:5px;
}
#u273 {
  position:absolute;
  left:2px;
  top:-6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
