body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:989px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:590px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  position:absolute;
  left:150px;
  top:-18px;
  width:310px;
  height:590px;
}
#u740 {
  position:absolute;
  left:2px;
  top:287px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:18px;
}
#u743 {
  position:absolute;
  left:150px;
  top:0px;
  width:310px;
  height:18px;
}
#u744 {
  position:absolute;
  left:2px;
  top:1px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u745 {
  position:absolute;
  left:150px;
  top:18px;
  width:310px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u746 {
  position:absolute;
  left:2px;
  top:2px;
  width:306px;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u747 {
  position:absolute;
  left:168px;
  top:18px;
  width:19px;
  height:19px;
}
#u748 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:43px;
}
#u749 {
  position:absolute;
  left:459px;
  top:0px;
  width:1px;
  height:42px;
}
#u750 {
  position:absolute;
  left:2px;
  top:13px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:43px;
}
#u751 {
  position:absolute;
  left:150px;
  top:0px;
  width:1px;
  height:42px;
}
#u752 {
  position:absolute;
  left:2px;
  top:13px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u753 {
  position:absolute;
  left:150px;
  top:41px;
  width:310px;
  height:1px;
  opacity:0.8;
}
#u754 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u755 {
  position:absolute;
  left:429px;
  top:18px;
  width:22px;
  height:22px;
}
#u756 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u757 {
  position:absolute;
  left:164px;
  top:57px;
  width:282px;
  height:378px;
}
#u758 {
  position:absolute;
  left:2px;
  top:181px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u759 {
  position:absolute;
  left:164px;
  top:57px;
  width:282px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u760 {
  position:absolute;
  left:2px;
  top:6px;
  width:278px;
  word-wrap:break-word;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:2px;
}
#u761 {
  position:absolute;
  left:192px;
  top:126px;
  width:223px;
  height:1px;
  opacity:0.5;
}
#u762 {
  position:absolute;
  left:2px;
  top:-8px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:2px;
}
#u763 {
  position:absolute;
  left:192px;
  top:155px;
  width:223px;
  height:1px;
  opacity:0.5;
}
#u764 {
  position:absolute;
  left:2px;
  top:-8px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:2px;
}
#u765 {
  position:absolute;
  left:192px;
  top:185px;
  width:223px;
  height:1px;
  opacity:0.5;
}
#u766 {
  position:absolute;
  left:2px;
  top:-8px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:2px;
}
#u767 {
  position:absolute;
  left:192px;
  top:302px;
  width:223px;
  height:1px;
  opacity:0.5;
}
#u768 {
  position:absolute;
  left:2px;
  top:-8px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:2px;
}
#u769 {
  position:absolute;
  left:192px;
  top:332px;
  width:223px;
  height:1px;
  opacity:0.5;
}
#u770 {
  position:absolute;
  left:2px;
  top:-8px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:2px;
}
#u771 {
  position:absolute;
  left:192px;
  top:361px;
  width:223px;
  height:1px;
  opacity:0.5;
}
#u772 {
  position:absolute;
  left:2px;
  top:-8px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:2px;
}
#u773 {
  position:absolute;
  left:192px;
  top:214px;
  width:223px;
  height:1px;
  opacity:0.5;
}
#u774 {
  position:absolute;
  left:2px;
  top:-8px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:2px;
}
#u775 {
  position:absolute;
  left:192px;
  top:243px;
  width:223px;
  height:1px;
  opacity:0.5;
}
#u776 {
  position:absolute;
  left:2px;
  top:-8px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:2px;
}
#u777 {
  position:absolute;
  left:192px;
  top:273px;
  width:223px;
  height:1px;
  opacity:0.5;
}
#u778 {
  position:absolute;
  left:2px;
  top:-8px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u779 {
  position:absolute;
  left:192px;
  top:126px;
  width:57px;
  height:29px;
  text-align:center;
}
#u780 {
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u781 {
  position:absolute;
  left:249px;
  top:127px;
  width:88px;
  height:28px;
  text-align:center;
}
#u782 {
  position:absolute;
  left:0px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u783 {
  position:absolute;
  left:337px;
  top:126px;
  width:78px;
  height:29px;
  text-align:center;
}
#u784 {
  position:absolute;
  left:0px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u785 {
  position:absolute;
  left:192px;
  top:155px;
  width:57px;
  height:29px;
  text-align:center;
}
#u786 {
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u787 {
  position:absolute;
  left:249px;
  top:156px;
  width:88px;
  height:28px;
  text-align:center;
}
#u788 {
  position:absolute;
  left:0px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u789 {
  position:absolute;
  left:337px;
  top:155px;
  width:78px;
  height:29px;
  text-align:center;
}
#u790 {
  position:absolute;
  left:0px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u791 {
  position:absolute;
  left:192px;
  top:185px;
  width:57px;
  height:29px;
  text-align:center;
}
#u792 {
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u793 {
  position:absolute;
  left:249px;
  top:186px;
  width:88px;
  height:28px;
  text-align:center;
}
#u794 {
  position:absolute;
  left:0px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u795 {
  position:absolute;
  left:337px;
  top:185px;
  width:78px;
  height:29px;
  text-align:center;
}
#u796 {
  position:absolute;
  left:0px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u797 {
  position:absolute;
  left:150px;
  top:468px;
  width:310px;
  height:104px;
  opacity:0.5;
}
#u798 {
  position:absolute;
  left:2px;
  top:44px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:2px;
}
#u799 {
  position:absolute;
  left:173px;
  top:498px;
  width:263px;
  height:1px;
  opacity:0.5;
}
#u800 {
  position:absolute;
  left:2px;
  top:-8px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u801 {
  position:absolute;
  left:173px;
  top:475px;
  width:87px;
  height:25px;
  text-align:center;
}
#u802 {
  position:absolute;
  left:0px;
  top:2px;
  width:87px;
  word-wrap:break-word;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u803 {
  position:absolute;
  left:270px;
  top:474px;
  width:100px;
  height:25px;
}
#u804 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:10px;
}
#u806 {
  position:absolute;
  left:173px;
  top:521px;
  width:146px;
  height:10px;
}
#u807 {
  position:absolute;
  left:2px;
  top:-3px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:10px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u808 {
  position:absolute;
  left:319px;
  top:521px;
  width:78px;
  height:10px;
}
#u809 {
  position:absolute;
  left:2px;
  top:-3px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:center;
}
#u810 {
  position:absolute;
  left:173px;
  top:500px;
  width:97px;
  height:17px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:center;
}
#u811 {
  position:absolute;
  left:0px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC3300;
  text-align:center;
}
#u812 {
  position:absolute;
  left:397px;
  top:509px;
  width:49px;
  height:35px;
  color:#CC3300;
  text-align:center;
}
#u813 {
  position:absolute;
  left:0px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u815 {
  position:absolute;
  left:150px;
  top:550px;
  width:310px;
  height:22px;
}
#u816 {
  position:absolute;
  left:2px;
  top:3px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u817 {
  position:absolute;
  left:249px;
  top:550px;
  width:27px;
  height:24px;
}
#u818 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u819 {
  position:absolute;
  left:319px;
  top:550px;
  width:27px;
  height:24px;
}
#u820 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u821 {
  position:absolute;
  left:192px;
  top:98px;
  width:57px;
  height:29px;
  text-align:center;
}
#u822 {
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u823 {
  position:absolute;
  left:249px;
  top:99px;
  width:88px;
  height:28px;
  text-align:center;
}
#u824 {
  position:absolute;
  left:0px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u825 {
  position:absolute;
  left:337px;
  top:98px;
  width:78px;
  height:29px;
  text-align:center;
}
#u826 {
  position:absolute;
  left:0px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:238px;
  top:382px;
  width:140px;
  height:32px;
}
#u828 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u827_ann {
  position:absolute;
  left:371px;
  top:378px;
  width:1px;
  height:1px;
}
#u829_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u829 {
  position:absolute;
  left:440px;
  top:71px;
  width:30px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u830 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u831 {
  position:absolute;
  left:440px;
  top:462px;
  width:30px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u832 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u833 {
  position:absolute;
  left:612px;
  top:31px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  position:absolute;
  left:612px;
  top:72px;
  width:377px;
  height:36px;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  position:absolute;
  left:612px;
  top:249px;
  width:371px;
  height:234px;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u839 {
  position:absolute;
  left:603px;
  top:214px;
  width:289px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u841_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u841 {
  position:absolute;
  left:378px;
  top:382px;
  width:30px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u842 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
